/*selector universal*/
*{
    padding: 0 auto;
    margin: 0 auto;
}
/* Selector ID */

#contenedor{
    width: 900px; /*ancho*/
    height: 1000px; /* Altura */
    background-color:rgb(230,200, 149) ;
}
#cabecera{
    margin: 10px;
    height: 15%;
    background-color: rgb(230,200, 149);
    text-align: center;
}
#barraNavegacion{
    margin: 10px;
    height: 5%;
    background-color: rgb(171, 161, 134);
    text-align: center;
}
#Seccion{
    height: 70%;
    width: 64%;
    background-color:rgb(151, 158, 54);
    text-align: center;
    float: left;
}
#aseccion{
    height: 70%;
    width: 35%;
    background-color:rgb(190, 193, 79) ;
    float:right;
}
#texto{
    margin: 3%;
    
    border: 1px;
    border-color: black;
    text-align: center;
    font-size: medium;
    border-style:dotted;
    background-color: white;
}
#pieNavegacion{
    margin: 10px;
    height: 10%;
    background-color:rgb(230,200, 149);
    text-align: center;
    
}
/* Selector Etiqueta */

ul{
    display: inline; 
   
 }
 li{
    text-align: center;
    display:inline-block;
     margin: 10px;
     font-size: medium;
 }
 img{
     height: 100px;
     width: 100px;
     border: 1px solid rgb(255, 205, 112) ;
     margin-left: 5px;
     margin-right: 5px;
 }
 
 .texto{
     text-align: justify;
     font-family: Verdana;
 }